.leader-board {
  background-color: $bgGray;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 90%;
  margin: 0 auto;

  .leader-board-card {
    display: grid;
    align-items: center;
    padding: 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(0, 170, 217);
    }

    p {
      margin: 0.5rem 0;
    }

    .trophy-icon {
      scale: 2;
    }
  }
}

@media screen and (min-width: 768px) {
  .leader-board {
    .leader-board-card {
      grid-template-columns: 0.25fr 1fr 1fr 1fr;
    }
  }
}
